<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.wisetracker">

    <application android:networkSecurityConfig="@xml/network_security_config">

        <!-- 딥링크로 사용될 값을 직접 수정해 주세요. -->
        <activity
            android:name="kr.co.wisetracker.DeepLinkActivity"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 딥링크로 진입될 스키마와 호스트 정보 입력 -->
                <data
                    android:host="YOUR_HOST"
                    android:scheme="YOUR_SCHEME" />
            </intent-filter>

        </activity>

        <!-- true 변경시 Wisetracker 통한 인스톨 레퍼러 미수신 -->
        <meta-data
            android:name="disableDotReceiver"
            android:value="false" />

    </application>

</manifest>
